@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";



//// Layout & components
//@import "root";
//@import "reboot";
//@import "type";
//@import "images";
//@import "containers";
//@import "grid";
//@import "tables";
//@import "forms";
//@import "buttons";
//@import "transitions";
//@import "dropdown";
//@import "button-group";
//@import "nav";
//@import "navbar";
//@import "card";
//@import "accordion";
//@import "breadcrumb";
//@import "pagination";
//@import "badge";
//@import "alert";
//@import "progress";
//@import "list-group";
//@import "close";
//@import "toasts";
//@import "modal";
//@import "tooltip";
//@import "popover";
//@import "carousel";
//@import "spinners";
//
//// Helpers
//@import "helpers";
//
//// Utilities
//@import "utilities/api";
//// scss-docs-end import-stack


//@import "~bootstrap/scss/bootstrap";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

