@import "~@angular/material/theming";

//@include mat-core($_mat-theme-emitted-typography);

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-amber, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$my-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

@include angular-material-theme($my-theme);
