<input (click)="isOpen = !isOpen"
       class="input"
       cdkOverlayOrigin
       #trigger="cdkOverlayOrigin"
       placeholder="{{placeholder}}"
       [(ngModel)]="filterProduct"
>
<span *ngIf="!!value" class="icon-wrapper" (click)="remove()">
  <img class="icon"
       src="assets/icons/remove.svg"
       alt="remove">
</span>
<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayOpen]="isOpen">
  <ul class="select-list">
    <li
      (click)="selectEl(item)"
      *ngFor="let item of filteredItems">{{ item.text }}
    </li>
  </ul>
</ng-template>
