
::ng-deep .icon {
  opacity: 0.6;
  position:relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
}
::ng-deep .icon-wrapper {
  display: inline-block;
  position: relative;
  right: 44px;
  bottom: 11px;
  height: 44px;
  width: 44px;
}

::ng-deep .select-list {
  width: 200px;
  border: solid 1px #ccc;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;

  li {
    width: 100%;
    cursor: pointer;
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;

    &:hover {
      background-color: #7fb8b8;
      opacity: 0.6;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
