:host {
  .stars {
    display: flex;
    cursor: pointer;

    .star {
      background-color: #999;
      mask: url(~src/assets/icons/star.svg);
      mask-size: cover;
      mask-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }

    .accepted-rate {
      background-color: #efc043;
    }
  }

  .disabled {
    opacity: 0.4;
  }

  .dummy {
    cursor: default;

  }

}
