<div class="stars"
     #starsContainer
     (mouseout)="resetRate()"
     [ngClass]="{'disabled': disabled, 'dummy': staticRate}"
>
  <ng-container *ngFor="let star of stars">
    <div class="star"
         [ngClass]="{'accepted-rate':shouldBeHighlighted(star)}"
         (mouseenter)="mouseenter(star)"
         (click)="setRate(star)"></div>
  </ng-container>
</div>
