<div class="container">
  <form [formGroup]="form"
        class="col-12">
    <label class="mat-form-field-label col-12">Produkt</label>
    <app-select placeholder="Wybierz z listy"
                formControlName="product"
                [items]="items"
                (clear)="clearForm()">
    </app-select>
    <label class="mat-form-field-label mt-4 col-12">Oceń produkt</label>
    <app-rate-stars formControlName="rate"
                    [maxRate]="maxRate"></app-rate-stars>
    <label class="col-12 mat-form-field-label mt-4">Podaj adres email</label>
    <input class="input"
           type="email"
           formControlName="email"/>
    <label class="mat-form-field-label col-12 mt-4">Komentarz</label>
    <textarea class="col-12 input"
              formControlName="comment"
              rows="10"
              name=""
              id="">
    </textarea>
    <button class="mt-4 col-12 btn"
            [disabled]="form.invalid"
            [ngClass]="{'disabled': form.invalid}"
            (click)="addComment()">Dodaj
    </button>
  </form>
</div>
