<div class="container">
  <div class="row">
    <span class="mat-h2 col-8">{{comment.product.text}}</span>
    <app-rate-stars class="col-4"
                    [staticRate]="comment.rate">
    </app-rate-stars>
  </div>
  <div class="row">
    <span class="col-12 mat-h5">{{comment.email}}</span>
  </div>
  <div class="row">
    <span class="comment mat-h4 col-12">{{comment.comment}}</span>
  </div>
</div>
