@import "styles/bootstrap/bootstrap";
@import "styles/material/material";
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  color: #777;
}

// input
.input {
  border: solid 1px #ccc;
  border-radius: 8px;
  background: #fff;
  padding: 10px;
  margin: 0;
}

// button
.btn {
  border-radius: 3px;
  background-color: #e26036;
  border: none;
  height: 36px;
  color: #ffffff;
}

.disabled {
  opacity: 0.6;
}
